*{
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.header{
    padding: 50px;
    text-align: center;
    box-shadow: 0 0 10px black;
    border-radius: 0 0 20px 20px;
    background-image: url(/img/background.png);
    background-position: 0 -40px;
    background-size: 1350px;

}

.container{
    
    display: flex;
}


.navbar{
    color: white;
    border-radius: 20px 10px 10px 10px;
    font-weight: 900;
    width: 30%;
    padding: 30px;
    box-shadow: 0 0 10px black;
}

.content{
    margin-top: 20px;
    text-align: center;
    background-color: rgb(37, 36, 36);
    width: 70%;
    padding: 30px;
    color: white;
    border-radius: 30px 10px 10px 10px;
    
    
}
.footer{
    margin-top: 20px;
    padding: 15px;
    text-align: center;
    background-color: rgb(196, 184, 184);
    
    
}
h3{
    color: black;
}

.container nav ul li{
    width: 90px;
    list-style: none;
    background-color: rgb(33, 61, 185);
    text-align: center;
    margin-bottom: 20px;
    border-radius: 20px 10px;
    box-shadow: 0 0 100px black; 
}

.wave{

    border-radius: 30px;

}